.js
  .title-simple.title-simple_js Уровень владения JavaScript
  .slider__d#slider__d
    img#slider__d-pointer.slider__d-pointer(src='images/slider-arrow.png')
    .slider__d-item
      img#slider__d-item-label-1.slider__d-item-label.slider__d-item-label-first(src='images/slider-vert-1.png')
      .slider__d-item-ttl Не владею
    .slider__d-item
      img#slider__d-item-label-2.slider__d-item-label.slider__d-item-label-middle(src='images/slider-vert-2.png')
      .slider__d-item-ttl Использую готовые решения
    .slider__d-item
      img#slider__d-item-label-3.slider__d-item-label.slider__d-item-label-middle(src='images/slider-vert-2.png')
      .slider__d-item-ttl Использую готовые решения и умею их переделывать
    .slider__d-item
      img#slider__d-item-label-4.slider__d-item-label.slider__d-item-label-last(src='images/slider-vert-1.png')
      .slider__d-item-ttl Пишу сложный JS с нуля
      
//- Резервная копия    
//- .js
//-   .title-simple.title-simple_js Уровень владения JavaScript
//-   .slider__d#slider__d
//-     img#slider__d-pointer.slider__d-pointer(src='images/slider-arrow.png')
//-     .slider__d-item(onclick='move1()')
//-       img#slider__d-item-label-1.slider__d-item-label.slider__d-item-label-first(src='images/slider-vert-1.png')
//-       .slider__d-item-ttl Не владею
//-     .slider__d-item(onclick='move2()')
//-       img#slider__d-item-label-2.slider__d-item-label.slider__d-item-label-middle(src='images/slider-vert-2.png')
//-       .slider__d-item-ttl Использую готовые решения
//-     .slider__d-item(onclick='move3()')
//-       img#slider__d-item-label-3.slider__d-item-label.slider__d-item-label-middle(src='images/slider-vert-2.png')
//-       .slider__d-item-ttl Использую готовые решения и умею их переделывать
//-     .slider__d-item(onclick='move4()')
//-       img#slider__d-item-label-4.slider__d-item-label.slider__d-item-label-last(src='images/slider-vert-1.png')
//-       .slider__d-item-ttl Пишу сложный JS с нуля
  
//- .js__mobile
//-   .slider__d#slider__d
//-     img#slider__d-pointer.slider__d-pointer(src='images/slider-arrow-mob.png')
//-     .slider__d-item(onclick='move1()')
//-       img#slider__d-item-label-1.slider__d-item-label.slider__d-item-label-first(src='images/slider-vert-1-mob.png')
//-       .slider__d-item-ttl Не владею
//-     .slider__d-item(onclick='move2()')
//-       img#slider__d-item-label-2.slider__d-item-label.slider__d-item-label-middle(src='images/slider-vert-2-mob.png')
//-       .slider__d-item-ttl Использую готовые решения
//-     .slider__d-item(onclick='move3()')
//-       img#slider__d-item-label-3.slider__d-item-label.slider__d-item-label-middle(src='images/slider-vert-2-mob.png')
//-       .slider__d-item-ttl Использую готовые решения и умею их переделывать
//-     .slider__d-item(onclick='move4()')
//-       img#slider__d-item-label-4.slider__d-item-label.slider__d-item-label-last(src='images/slider-vert-1-mob.png')
//-       .slider__d-item-ttl Пишу сложный JS с нуля
