.js
  .title-simple.title-simple_js Уровень владения JavaScript
  .slider__d#slider__d
    img.slider__d-pointer(src='images/slider-arrow.png')
    .slider__d-item(onclick='mouseUp(0)')
      img.slider__d-item-label.slider__d-item-label-first(src='images/slider-vert-1.png')
      .slider__d-item-ttl Не владею
    .slider__d-item(onclick='mouseUp(1)')
      img.slider__d-item-label.slider__d-item-label-middle(src='images/slider-vert-2.png')
      .slider__d-item-ttl Использую готовые решения
    .slider__d-item(onclick='mouseUp(2)')
      img.slider__d-item-label.slider__d-item-label-middle(src='images/slider-vert-2.png')
      .slider__d-item-ttl Использую готовые решения и умею их переделывать
    .slider__d-item(onclick='mouseUp(3)')
      img.slider__d-item-label.slider__d-item-label-last(src='images/slider-vert-1.png')
      .slider__d-item-ttl Пишу сложный JS с нуля
