/* Уровень владения JavaScript */
.js
  margin-bottom 43px

.title-simple_js
  margin-bottom 43px

.slider__d
  background-image url(../../images/slider-horiz.png)
  background-size contain
  background-position top
  background-repeat no-repeat
  position relative
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction row
  justify-content space-between
  select-none()

.slider__d-pointer
  position absolute
  bottom calc(100% + 3px)
  cursor pointer
  transition .1s ease
.slider__d-pointer:hover
  opacity .8
.slider__d-pointer:active
  opacity .8

.slider__d-item
  position relative
  cursor pointer

.slider__d-item-label
  position absolute
  top 2px
  left 0

.slider__d-item-label.slider__d-item-label-last
  left initial
  right 0

.slider__d-item-ttl
  min-width 100px
  max-width 170px
  pt-sans-bold()
  font-size 13px
  margin-top 30px

  /* мобильная версия */
.js__mobile
  padding-left 20px

.slider__m
  background-image url('../../images/slider-horiz-mob.png')
  background-size inherit
  background-position left
  background-repeat no-repeat
  flex-direction column
  padding-left 2px
  position relative
  select-none()

.slider__m-item-ttl
  min-width inherit
  max-width inherit
  padding-left 40px
  margin-top inherit
  font-family 'PT Sans Bold', sans-serif
  font-size 13px

.slider__m-item-label.slider__m-item-label-first
  top 0
  bottom inherit

.slider__m-item-label.slider__m-item-label-last
  right inherit
  bottom 0
  top inherit

.slider__m-item:nth-child(3)
.slider__m-item:nth-child(4)
  // margin 15px 0 Временно отключили
  margin 50px 0

.slider__m-item:last-child
  margin-top 5px

.slider__m-item
  position relative
  cursor pointer
  select-none()

.slider__m-item-label
  top 50%
  position absolute

.slider__m-pointer
  bottom inherit
  top -8px
  left -15px
  position absolute
  cursor pointer
.slider__m-pointer:hover
  opacity .8
.slider__m-pointer:active
  opacity .8

  /* /мобильная версия */

/* /Уровень владения JavaScript */
