/* Дата заполнения */
.date
  margin-bottom 74px

.date__ttl
  display inline-block
  pt-sans-bold()
  font-size 22px
  color brown1
  vertical-align bottom

.date__data
  border none
  background-color transparent
  background-image url(../../images/date-line.png)
  background-repeat no-repeat
  background-position bottom left
  display inline-block
  vertical-align bottom
  margin-left 20px
  padding-left 10px
  font-size 30px
  courier()
  color grey1

  /* Адаптация */
@media screen and (max-width 350px)
  .date__data
    font-size 24px
    margin-top 10px
  /* /Адаптация */
/* /Дата заполнения */
