/* Дата заполнения */
.date
  margin-bottom 80px

.date__ttl
  display inline-block
  pt-sans-bold()
  font-size 22px
  color brown1
  vertical-align bottom

.date__data
  border none
  background-color transparent
  background-image url(../../images/date-line.png)
  background-repeat no-repeat
  background-position bottom left
  display inline-block
  vertical-align bottom
  margin-left 20px
  padding-left 10px
  font-size 30px
  courier()
  color grey1
/* /Дата заполнения */
