/* Общие стили */
html
  position absolute
  top 0
  bottom 0
  left 0
  width 100%
  background-image url(../../images/bg.jpg)
  background-repeat repeat
  padding 0 10px

.container
  max-width contWidth
  width 100%
  margin auto

.col
  max-width 250px

@font-face
  font-family 'Courier New'
  src url('../../fonts/7170.ttf')

@font-face
  font-family 'PT Sans'
  src url('../../fonts/PT_Sans-Web-Regular.ttf')
@font-face
  font-family 'PT Sans Bold'
  src url('../../fonts/PT_Sans-Web-Bold.ttf')

/* /Общие стили */
