contWidth = 775px // ширина контейрнера
brown1 = #2f1b15
grey1 = #231f20
grey2 = #3d3d3d

select-none()
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none

pt-sans()
  font-family 'PT Sans', sans-serif
pt-sans-bold()
  font-family 'PT Sans Bold', sans-serif
courier()
  font-family 'Courier New', serif
