extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	form.container.form
		// Шапка
		include /blocks/header/header
		// /Шапка
		// Основные данные
		include /blocks/fio/fio		
		// /Основные данные
		// Расскажите о себе чекбокcами
		include /blocks/checkboxes/checkboxes
		// /Расскажите о себе чекбокcами
		// Уровень владения JavaScript
		include /blocks/js/js
		// /Уровень владения JavaScript
		// Расскажите о себе словами
		include /blocks/words/words
		// /Расскажите о себе словами
		// Какие у вас планы на будущее
		include /blocks/plans/plans
		// /Какие у вас планы на будущее
		// Дата заполнения
		include /blocks/date/date
		// /Дата заполнения
