/* Основные данные */
.fio
  margin 51px 0 66px

.fio__row
  display flex
  flex-direction row
  margin 17px 0
  align-items center

.fio__row-ttl
  flex-grow 0
  font-family 'PT Sans', sans-serif
  font-weight 600
  font-size 22px
  color brown1
  margin-bottom -15px

.fio__input
  position relative
  flex-grow 1
  padding-left 16px
  padding-bottom 11px
  margin-left 16px
  background-color transparent
  border none
  display block
  background-image url(../../images/fio-line.png)
  background-size contain
  background-repeat no-repeat
  background-position bottom
  color grey1
  font-family 'Courier New', serif
  font-size 30px

  /* Адаптация */
@media screen and (max-width 600px)
  .fio__row
    flex-direction column
    align-items flex-start
    margin-bottom 30px
  .fio__row-ttl
    margin-bottom 10px
  .fio__input
    margin-left 0
    padding-left 0
    width 100%
@media screen and (max-width 400px)
  .fio__input
    font-size 22px
  /* /Адаптация */
/* /Основные данные */
