/* Расскажите о себе чекбокcами */
.checkboxes
  margin-bottom 80px

.title-simple
  font-size 24px
  color brown1
  font-family 'PT Sans Bold', sans-serif
  margin-bottom 10px

.descr-simple
  font-size 15px
  font-family 'PT Sans', sans-serif
  color grey2
  line-height 23px
  margin-bottom 30px
  letter-spacing -0.07px

.checkboxes__items
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content space-between

.checkboxes__item
  display -webkit-flex
  display -ms-flex
  display flex
  margin-bottom 14px
  select-none()

.checkboxes__item__chbx
  position relative
  display inline-block
  width 20px
  height 20px
  background-image url(../../images/checkbox-square.png)
  background-position center
  background-repeat no-repeat
  flex-shrink 0
  cursor pointer

.checkboxes__item__chbx:before
  content ''
  position absolute
  width 30px
  height 33px
  left -2px
  bottom 0
  background-image url(../../images/checkbox-bird.png)
  background-position center
  background-repeat no-repeat
  opacity 0
  transition .15s ease

.checkboxes__item-label
  pt-sans-bold()
  cursor pointer
  font-size 21px
  color #000
  padding-left 8px

.checkboxes__item-label-a
  color #1f5f97

.checkboxes__item-input
  display none

.checkboxes__item-input:checked ~ .checkboxes__item__chbx:before
  content ''
  opacity 1
/* /Расскажите о себе чекбокcами */
