.checkboxes
  .title-simple Расскажите о себе чекбоксами
  .descr-simple Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
  .checkboxes__items
    .col
      mixin checkboxes__item(name, text, checked)
        .checkboxes__item
          input.checkboxes__item-input(type='checkbox' id= name name= name checked= checked)
          label.checkboxes__item__chbx(for= name)
          label.checkboxes__item-label(for= name)= text
      +checkboxes__item('bem', 'БЭМ/OOCSS', 'checked')
      +checkboxes__item('pug', 'Pug (Jade)', 'checked')
      +checkboxes__item('styl', 'Stylus/LESS/SASS')
      +checkboxes__item('svg', 'Работаю с SVG')
      +checkboxes__item('semantic', 'Верстаю семантично')
      +checkboxes__item('accessibility', 'Accessibility (A11Y)')
      +checkboxes__item('es', 'ES2015/ES2016')
    .col
      +checkboxes__item('gulp', 'Gulp/GRUNT')
      +checkboxes__item('webpack', 'Webpack')
      +checkboxes__item('webgl', 'Дружу с WebGL')
      +checkboxes__item('jquery', 'jQuery')
      +checkboxes__item('angular', 'Знаю/изучаю Angular')
      +checkboxes__item('react', 'Знаю/изучаю React')
      +checkboxes__item('nodejs', 'Знаю/изучаю Node.js')
    .col
      +checkboxes__item('git', 'Использую Git')
      +checkboxes__item('eye', 'С глазомером все ок')
      .checkboxes__item
        input.checkboxes__item-input(type='checkbox' id='blog' name='blog')
        .checkboxes__item__chbx
        label.checkboxes__item-label(for='blog') Читаю 
          a.checkboxes__item-label-a(href='https://blog.csssr.ru/' target='_blank') blog.csssr.ru
      +checkboxes__item('lazy', 'Я ленивый(-ая)')
      +checkboxes__item('english', 'У меня хороший английский')
