/* Шапка */
header
	margin-top 62px

.header__top
	display flex
	justify-content space-between
	align-items flex-start

.header__top-stamp
	margin-right -59px
	margin-top -14px

.header__bottom-title
	margin-right 42px

.header__bottom
	text-align center
/* /Шапка */
